<!DOCTYPE html>
<html>
<head>
　　<meta http-equiv="content-type" content="text/html; charset=utf-8" />
　　<title>{{ page.title }}</title>
	<link rel="stylesheet" href="/css/syntax.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="{{ site.baseurl }}/style/content.css" />
	<link rel="stylesheet" href="http://cdn.bootcss.com/highlight.js/8.0/styles/monokai_sublime.min.css" />
	<script type="text/javascript" src="http://cdn.bootcss.com/highlight.js/8.0/highlight.min.js"></script>
</head>
<body>

<div class="content">
	<h2>{{ page.title }}</h2>
	<h6>{{ page.date | date_to_string }}&nbsp;&nbsp;&nbsp;[{{page.tags}}]</h6>

	<div class="PageNavigation">
	  {% if page.previous.url %}
	    <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
	  {% endif %}
	  {% if page.next.url %}
	    <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
	  {% endif %}
	</div>

	<div class="content-wrap">
{{ content }}
	</div>
	<div class="ds-thread" data-thread-key="{{ post.url }}" data-title="heloworld" data-url="{{ site.baseurl }}{{ post.url }}">
	</div>
</div>

</body>
<script type="text/javascript">
	// 代码高亮
	hljs.initHighlightingOnLoad();

	var duoshuoQuery = {short_name:"fimoonme"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0]
		 || document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
</script>
</html>